---
import { joinURL, withTrailingSlash } from "ufo";

import Layout from "../../layouts/Layout.astro";

import { PRODUCTION_BASE_URL } from "../../lib/info.js";

const { BASE_URL } = import.meta.env;
---

<Layout lang="en" title="Developer resources for OBS Background Removal">
  <Fragment slot="head-info">
    <meta
      name="description"
      content="Developer resources for OBS Background Removal"
    />
    <link
      rel="canonical"
      href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "dev"))}
    />
  </Fragment>

  <main class="white-box">
    <h1>Developer resources for OBS Background Removal</h1>

    <ul>
      <li>
        <a href={joinURL(BASE_URL, "dev/windows/")}
          >Development guide on Windows</a
        >
      </li>
      <li>
        <a href={joinURL(BASE_URL, "dev/macos/")}>Development guide on macOS</a>
      </li>
      <li>
        <a href={joinURL(BASE_URL, "dev/ubuntu/")}
          >Development guide on Ubuntu</a
        >
      </li>
    </ul>
  </main>
</Layout>
