---
import { joinURL } from "ufo";

import "../styles/global.css";

const { BASE_URL } = import.meta.env;

interface Props {
  lang: string;
  title: string;
}

const { lang, title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <slot name="head-info" />

    <link
      rel="icon"
      type="image/png"
      href={joinURL(BASE_URL, "favicon-96x96.png")}
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={joinURL(BASE_URL, "favicon.svg")}
    />
    <link rel="shortcut icon" href={joinURL(BASE_URL, "favicon.ico")} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={joinURL(BASE_URL, "apple-touch-icon.png")}
    />

    <slot name="head-bottom" />
  </head>
  <body>
    <div>
      <slot />

      <footer>
        <div>&copy; 2021 - 2026 Roy Shilkrot</div>
      </footer>
    </div>

    <slot name="body-bottom" />
  </body>
</html>
