---
import { joinURL, withTrailingSlash } from "ufo";

import { Code } from "astro:components";

import Layout from "../layouts/Layout.astro";

import { PRODUCTION_BASE_URL } from "../lib/info.js";

const { BASE_URL } = import.meta.env;
---

<Layout lang="en" title="How to use OBS Background Removal on Flatpak">
  <Fragment slot="head-info">
    <meta
      name="description"
      content="How to use OBS Background Removal on Flatpak"
    />
    <link
      rel="canonical"
      href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "flatpak"))}
    />
  </Fragment>

  <main class="white-box">
    <h1>Install OBS Background Removal on Flatpak</h1>

    <ol>
      <li>
        <strong>Install the Background Removal Plugin:</strong><br />
        Open a terminal and run:<br />
        <Code
          code={`flatpak install flathub com.obsproject.Studio.Plugin.BackgroundRemoval`}
          lang="bash"
        />
      </li>
      <li>
        <strong>Usage:</strong><br />
        See the <a href={joinURL(BASE_URL, "usage/")}>usage page</a> for how to use
        the plugin.
      </li>
    </ol>

    <p>All set!</p>

    <p><a href={joinURL(BASE_URL, "/")}>Back to the top page</a></p>
  </main>
</Layout>
