---
import { joinURL, withTrailingSlash } from "ufo";
import { Octokit, type RestEndpointMethodTypes } from "@octokit/rest";

import { Code } from "astro:components";

import Layout from "../layouts/Layout.astro";

import { GITHUB_OWNER, GITHUB_REPO, PRODUCTION_BASE_URL } from "../lib/info.js";

export type LatestRelease =
  RestEndpointMethodTypes["repos"]["getLatestRelease"]["response"]["data"];

const { BASE_URL } = import.meta.env;

async function getLatestRelease(): Promise<LatestRelease> {
  const octokit = new Octokit({ auth: import.meta.env.GITHUB_TOKEN });

  const latestRelease = await octokit.rest.repos.getLatestRelease({
    owner: GITHUB_OWNER,
    repo: GITHUB_REPO,
  });

  return latestRelease.data;
}

const release = await getLatestRelease();

const asset = release.assets.find((e) => /x86_64-linux-gnu\.deb/.test(e.name));
if (!asset) throw new Error("Ubuntu asset not found!");
---

<Layout lang="en" title="How to use OBS Background Removal on Ubuntu">
  <Fragment slot="head-info">
    <meta
      name="description"
      content="How to use OBS Background Removal on Ubuntu"
    />
    <link
      rel="canonical"
      href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ubuntu"))}
    />
  </Fragment>

  <main class="white-box">
    <h1>Download and install on Ubuntu</h1>

    <ol>
      <li>
        <strong>Download the Plugin (.deb):</strong><br />
        <a href={asset.browser_download_url} download>
          Click here to download the latest Ubuntu package (DEB)
        </a>
      </li>
      <li>
        <strong>Install the Plugin:</strong><br />
        <ul>
          <li>
            <strong>Option 1: Using the GUI</strong><br />
            Double-click the downloaded <code>.deb</code> file and follow the prompts
            in your software installer.
          </li>
          <li>
            <strong>Option 2: Using the Terminal</strong><br />
            Open a terminal in the folder where you downloaded the file and run:<br
            />
            <Code
              code={`sudo dpkg -i ./obs-backgroundremoval_*_x86_64-linux-gnu.deb
sudo apt-get install -f`}
              lang="bash"
            />
          </li>
        </ul>
      </li>
      <li>
        <strong>Restart OBS Studio:</strong><br />
        If OBS Studio is running, close it and open it again.
      </li>
      <li>
        <strong>Usage:</strong><br />
        See the <a href={joinURL(BASE_URL, "usage/")}>usage page</a> for how to use
        the plugin.
      </li>
    </ol>

    <p>All set!</p>

    <p><a href={joinURL(BASE_URL, "/")}>Back to the top page</a></p>
  </main>
</Layout>
